@model Category

<div class="rounded shadow">
    <div class="py-4 bg-danger rounded-top">
        <h2 class="text-white text-center">Delete Category</h2>
    </div>
    <form method="post" class="p-3">
        <input asp-for="Id" hidden />
        <div class="border p-3">
            @* <div asp-validation-summary="All"></div> *@
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="DisplayOrder" class="form-label"></label>
                <input asp-for="DisplayOrder" disabled class="form-control" />
            </div>
            <button type="submit" class="btn btn-danger">Delete Category</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
        </div>
    </form>
</div>
